---
export interface Props {
  id: string;
  color: string;
  title: string;
  content: string;
  textColor?: string;
  fontFamily?: string;
}

const { id, color, title, content, textColor, fontFamily} = Astro.props;
---

<section class="section" id={id} data-color={color} data-text-color={textColor} data-font-family={fontFamily}>
  <div class="section-content">
    <h1>{title}</h1>
    <p>{content}</p>
  </div>
</section>